body{background-color: #8bfd80};
.arroz {width: 80%;}


div {text-align: center;}
.estudante-div {text-align: center;}
.estudante-titulo {text-align: center;}
.estudante-imagem {width: 120px; text-align: center;margin: auto;}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #f80dd9;
    --botao-azul: #000000;
    --cor-de-fundo: #000000;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #7e7979;
}




header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(96, 221, 96);
    padding: 20px 20px;
  }
  
  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }



*{
    margin: 0;
    padding: 0;
}





body {
    font-family: 'Poppins', sans-serif;
}




.cabecalho {
    background-color: #4c4c4d;
    color: white;
    display: 1;
    justify-content: 29;
    align-items: center;
    padding: 40px 0;
}




.cabecalho-imagem{
    width: 20%;
    align-items: center;
}





.rodape2{
    background-color: black;
    align-items: center;
}




.rodape-imagem{
    width: 300px;
    height: 300px;
    padding: 20px 0;
    align-items: center;
}





.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}




.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}





.botao_secundario {
    background-color: black;
    border: 2px solid var(--branco-principal)
}






.rodape {
    text-align: center;
    margin: 5em 3em;
}






.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}





.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}







.container__caixa {
    margin: 0 6em;
}






.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}





.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}






.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}




.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}





.lista__link a:hover {
    color: var(--botao-azul);
}





.lista__link a:active {
    color: purple;
}




#estudantes {
    background-color: #a9b406;
    padding: 20px;
  }
  
  .grid-container {
    
   
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 7px;
  }
  
  .grid-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .grid-item p {
    margin: 0;
    font-size: 14px;
  }
  


  #rodape {
    background-color: orange;
    color: white;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto {
    flex: 1;
  }
  
  .imagem {
    flex: 1;
    text-align: right;
  }
  
  .imagem img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
  }


  
  
  .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
    align-items: center;
    display: 1;
		justify-content: 29;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  